.hi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-img {
  margin-top: 10px; }

body {
  position: relative; }

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }

.froma {
  margin-top: 100px;
  /* padding: 80px 60px; */
  margin: 80px 60px;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  height: auto;
  place-items: center;
  margin-left: 5%; }

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); }

.logo {
  color: #4391f0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px; }

.bg {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: flex;
  justify-content: center;
  align-items: center; }

.imgs {
  display: flex;
  justify-content: center;
  align-items: center; }
