{{!-- <div style="margin-top:30vh ;">
<footer class="bg-ligh text-center text-white   " style=" ">
  <!-- Grid container -->
  <div class="container p-1 pb-1" >
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/taminh1310"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

   

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSDZdDcKxJJFKVpLMsbsJLBwNVXmSZZfhdVXwtnSlVqdrwDpxhVNZxztZHvLNVgzRjZDxZTq"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/minhhvann/" role="button"><i class="fab fa-instagram"></i></a>

  
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/vanminh1310"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright
   
  </div>
  <!-- Copyright -->
</footer>
</div>

 --}}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"> <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSDZdDcKxJJFKVpLMsbsJLBwNVXmSZZfhdVXwtnSlVqdrwDpxhVNZxztZHvLNVgzRjZDxZTq"> <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/taminh1310"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://github.com/vanminh1310"role="button" ><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Brand 2021</p>
                </div>
            </div>
        </div>
    </footer>