{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg">
  <div class="container-fluid">
    <div class="logo"><a class="navbar-brand" href="/">Joy Dev</a></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cuocsong">Cuộc sống</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/khampha">Khám phá</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/taymaytomo">Táy máy tò mò</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/esp32">ESP</a>
        </li>
      </ul>

 <div class="dropdown show">
      <a class="  nav-link   active dropdown-toggle" href="#" role="button"
        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" style="color: white;">
        Thiết Lập 

      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/creat">Thêm bài viết</a>
        <a class="dropdown-item" href="/list">Danh sách</a>
        <a class="dropdown-item" href="/about">About</a>
      </div>
    </div>
    </div>

   


  </div>
</nav> --}}
 <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/" style="color: var(--bs-light);font-family: 'Open Sans', sans-serif;border-color: var(--bs-white);">Joy Dev</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cuocsong">Cuộc sống&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="/khampha">khám phá</a></li>
                    <li class="nav-item"><a class="nav-link" href="/taymaytomo">Táy máy tò mò</a></li>
                     <li class="nav-item"><a class="nav-link" href="/suckhoe">Sức Khỏe</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item">
                        <div class="nav-item dropdown" style="color: var(--bs-light);"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: var(--bs-light);font-size: 12;"></a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/creat">Thêm bài viết</a>
                             <a class="dropdown-item" href="/list">Danh sách</a>
                           <a class="dropdown-item" href="/about">About</a>
                            </div>
                        </div><a class="nav-link" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{!-- <header class="masthead" style="background-image:url('/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Joy Dev</h1><span class="subheading"><br>Người hạnh phúc không phải là người được sống trong hoàn cảnh thuận lợi nào mà là một người có thái độ sống tốt trước bất kỳ hoàn cảnh nào.<br><br></span>
                    </div>
                </div>
            </div>
        </div>
    </header> --}}