<header class="masthead" style="background-image:url('/assets/img/about-bg.jpg?h=ca94606afe09dc1190c07f9b89d907e7');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>About Me</h1><span class="subheading">This is what I do</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="container">
<div class="imgs"  style="margin-left: 33vw ">
 <div  class="card" style="width: 18rem; ">
                    <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.6435-9/116797445_2676430292625755_1760021857097968366_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=4AjVaZfHGEAAX9mFchh&tn=h8Wi5f7wqUXhpJSd&_nc_ht=scontent-sin6-1.xx&oh=14d31d91a43eeaf7c42436696b55ca9d&oe=60E3DD9D" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Văn Minh</h5>
                        <p class="card-text">Hướng về phía ánh nắng, bóng tối sẽ ngả về sau.🌻🌅 </p>
                        {{!-- <a href="https://www.facebook.com/taminh1310"><i class="fab fa-facebook-f"></i></a> &emsp;
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSDZdDcKxJJFKVpLMsbsJLBwNVXmSZZfhdVXwtnSlVqdrwDpxhVNZxztZHvLNVgzRjZDxZTq"role="button"><i class="fab fa-google"></i></a>&emsp;
                         <a href="https://www.instagram.com/minhhvann/" role="button"><i class="fab fa-instagram"></i></a>&emsp; --}}
                    
                    {{!-- <a href="https://github.com/vanminh1310"role="button" ><i class="fab fa-github"></i></a>  --}}
                    </div>
                </div>
            </div>
</div>
