<div class="mt-6" style="margin-bottom: 25vh; margin-top: 10vh; ">
<form method="POST" action="/creat">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" name="title" >
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Ảnh</label>
    <input type="text" class="form-control" name="img" >
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Author</label>
    <input type="text" class="form-control" name="author" >
  </div>
      <div class="form-group">
    <label for="exampleFormControlInput1">Slug</label>
    <input type="text" class="form-control" name="slug" >
  </div>
     <div  class="form-group">
    <label for="exampleFormControlInput1">Mô tả</label>
    <input type="text" class="form-control" name="nd"  >
  </div>
   

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Nội dung</label>
    <textarea class="form-control"  name="content" id="mytextarea" rows="3"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>